/* Colors sourced from https://www.khroma.co/generator */
:root {
    /*valley*/    
    --ash: #C8C5B9;
    --highland: #66945F;
    --cyan: #3C6863;
    --spruce: #3A444F;
    /*terracotta*/
    --rio: #AF9898;
    --taupe: #B4B49A;
    --river: #414D52;
    --amazon: #348053;
}

/*idea from solution to Module 2 mini project, scroll-smooth idea from stack overflow*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--spruce);
    list-style: none;
    background-color: var(--ash);
}

a {
    text-decoration: none;
    color: var(--ash);
}

.title-card {
    width: 100%;
    background-color: var(--spruce);
    color: var(--amazon);
    display: flex; 
    position: relative;
    justify-content: space-between;
}

h1 {
    padding-left: 40px;
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    padding-left: 30px;
    padding-right: 30px;
}

.title-card nav {
    position: relative;
    padding-top: 10px;
    padding-right: 15px;
    bottom: -30px;
}

.title-card li {
    display: inline;
    padding: 10px;
}

.nav-link {
    transition: all 0.5s;
}

.nav-link:hover {
    color: var(--amazon);
}

#about-me {
    display: flex;
    flex: 1 1 0;
    padding: 15px;
    border: solid var(--cyan); 
    margin-top: 150px; 
    margin-left: 25px;
    margin-right: 50px;
    margin-bottom: 100px;
}
    
.about-me {
    font-size: 1.75rem;
}

.my-picture {
    max-height: 200px;
}

#about-me p {
    font-size: 2rem;
    flex-wrap: wrap;
    position: relative;
    padding: 25px;  
}

#my-work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar {
    margin-top: 50px;
    width: 175px;
    border-right: solid;
    height: 1000px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
    'header header header'
    'footer1 footer2 footer3';
    right: 300px;
    gap: 1em;
    height: 1000px;
    width: 100%;
    margin: 50px 50px 0px;
    position: relative;
    left: -15px;
}

.item {
    position: relative;
    font-weight: bold;
    background: linear-gradient(rgba(120, 158, 122, 0.568) 0%, rgba(0,0,0,0)100%);
    border: solid var(--cyan);
    color: var(--spruce);
    opacity: 65%;
    border-radius: 8px;
    box-shadow: 5px 5px 5px var(--spruce);
    transition: opacity 0.5s, transform 0.5s;
}

.item-1 {
    background-image: url(../images/Screenshot\ \(24\).png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.item-2 {
    background-image: url(../images/Horiseon\ Site.png);
    background-size: cover;
    border-radius: 8px;
}

.item-3 {
    background-image: url(../images/Screenshot\ \(14\).png);
    background-size: cover;
}
/* transform idea from stack overflow */
.item:hover{
    opacity: 100%;
    transform: scale(1.03);
    cursor: pointer;
}

.item-text { 
    position: absolute;
    background-color: var(--spruce);
    color: var(--ash);
    bottom: -10px;
    right: 25px;
    padding: 5px;
}

#contact-me {
    margin-top: 75px;
}

#contact-me h2 {
    text-align: center;
}

.contact-links {
    display: flex;
    list-style-type: none;
    position: relative;
    justify-content: space-around; 
}


.contact-links li,
.contact-links a {
    font-weight: bold;
    color: var(--spruce);
    padding: 8px;
    text-decoration: none;
    transition: all 0.3s;
}

.contact-links li:hover,
.contact-links a:hover {
    transform: scale(1.05);
    color: var(--amazon);
}

footer {
    width: 100%;
    background-color: var(--highland);
    padding-bottom: 10px;
}

h3 {
    text-align: center;
    padding-top: 10px;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .title-card {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .title-card nav {
        bottom: -5px; 
    }
    #about-me {
        flex-direction: column;
        align-items: center;
    }
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .item-1 {
        flex: 2 0 30%;
    }
    .contact-links {
        flex-direction: column;
        align-items: center;
    }
    .item-2,
    .item-3,
    .item-4 {
        flex: 1 0 5%;
    }
}